body { background-color: rgb(0, 0, 0);

    min-height: 650px}

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');


 body {
  width: 100vw;
  
  /* overflow-x:visible; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  min-height: 400px;
 
  
}

/* .one {
    width: 100vw;
    height:60vh;
    margin: 0;
    top:0px;
    right:0px;
    bottom:50px;
    left:0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #000000;
    height: 270px;
    
  
  } */
  .text{
    width: 100vw;
    height: 10vh;
    font-family: arial;
    font-size: 40px;
    font-weight: 40px;
    position: absolute;
    color:rgba(255, 255, 255, 0.875);
    /* text-align: top; */
    margin:center;
    padding: 0px;
    top:8vh;
    /* border: 3px solid green; */
    text-align: center;
    justify-content:center;
   content-visibility: top;
  }
.one {
  width: 100vw;
  height: 20vh;
  margin: 0;
  top:0vh;
  right:0px;
  bottom:0vh;
  left: 0vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size:contain;  
  background-image: url("https://lh3.googleusercontent.com/RhSM38H6yD7Qiq67VKYlLaud55ksUdN9hBrDSK-2V_Jzp4RcwDG8WPO8er2uzoeSrVddrDuVC8SJBCEIW33LigjZw6pIMkeLJNoDe2c-yeXSg8jNCxbjQHu-BaDLBfAaPacj5xI2lX561xPGxlBwItQt54smTgxMI8KRPd66Mn_Nt4r7QqUy2xTIQmWMT_E3ZfmrZdy8wRonMAVP1oq56qLJf0N6g0xpLXDFsuhBrHFPTwe6C-QZz6Va6w1UElUVkhKw6dHo6LUUUASfirGHsOI3XZrczL-rpSOIc7Smw0Crz1gRH6995KdgHHzYMpRJxG12vqQGGsSxIpl77VJU6L8AgmOjQzUCUBx7hofdSXcFm4xsbx5hhHCMaiCzapLVTyTsgQuzi7lf92gWsgEVN0wRRPxrKfM2_TTyXtVenBPaOKEQI_gQZpTbj-EvmVx_0TbOYfsxUhBSxmvRqtthOktzb4o_OGKL01t0FE5HGDFEgsjild7fFbGbU_jRwvjfpoWb56fEIGOT_M70Hbc9wjOfSoDFVIN0uSwbRXkCtEQ_-V4PXUjjO_QsMN3lffALp4ktOFIPfRkMEvpF2olBpwOsB1xqvNGaY_ae6buoUWEwxpNU9DcExmxrRdKPzbmkjtelMmuuc0y2HnNvR8CQtBfM-X1fcE6dSv9B_tohZ3plSb5TYD8mxq8SYVa7j0KIWYP8UH0Afu81MoCUGasrssp6jakXibSUp5mqWyrv_tGeA2U5pn3ZzLeb58R6H8Q8O86UGS4AfB4bY_8OG1dQPd5fEqlPBd5XdQ=w1085-h658-no?authuser=0");
  /* background-blend-mode:normal; */
  /* background:black; */
height: 200vh;
}
.two{
  background:#000000;
  height: 270vh;


/* left:0;
right:0;
bottom:0; */
  padding: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-size:contain;  

  min-height: 400px;
}

.flex-container {

  background-color: #000000;

 width: 100vw;
 height: 100vh;
 margin: 0;
 top:130vh;
 right:0px;

 /* left: 17.5vh; */
 position: absolute;
 display: flex;
 flex-direction:row;
 justify-content:center;
 align-items: top;
 align-content: top;
 flex-wrap: wrap;
background-repeat: repeat;
/* background-size:contain;   */
 /* background-image: url("https://lh3.googleusercontent.com/RhSM38H6yD7Qiq67VKYlLaud55ksUdN9hBrDSK-2V_Jzp4RcwDG8WPO8er2uzoeSrVddrDuVC8SJBCEIW33LigjZw6pIMkeLJNoDe2c-yeXSg8jNCxbjQHu-BaDLBfAaPacj5xI2lX561xPGxlBwItQt54smTgxMI8KRPd66Mn_Nt4r7QqUy2xTIQmWMT_E3ZfmrZdy8wRonMAVP1oq56qLJf0N6g0xpLXDFsuhBrHFPTwe6C-QZz6Va6w1UElUVkhKw6dHo6LUUUASfirGHsOI3XZrczL-rpSOIc7Smw0Crz1gRH6995KdgHHzYMpRJxG12vqQGGsSxIpl77VJU6L8AgmOjQzUCUBx7hofdSXcFm4xsbx5hhHCMaiCzapLVTyTsgQuzi7lf92gWsgEVN0wRRPxrKfM2_TTyXtVenBPaOKEQI_gQZpTbj-EvmVx_0TbOYfsxUhBSxmvRqtthOktzb4o_OGKL01t0FE5HGDFEgsjild7fFbGbU_jRwvjfpoWb56fEIGOT_M70Hbc9wjOfSoDFVIN0uSwbRXkCtEQ_-V4PXUjjO_QsMN3lffALp4ktOFIPfRkMEvpF2olBpwOsB1xqvNGaY_ae6buoUWEwxpNU9DcExmxrRdKPzbmkjtelMmuuc0y2HnNvR8CQtBfM-X1fcE6dSv9B_tohZ3plSb5TYD8mxq8SYVa7j0KIWYP8UH0Afu81MoCUGasrssp6jakXibSUp5mqWyrv_tGeA2U5pn3ZzLeb58R6H8Q8O86UGS4AfB4bY_8OG1dQPd5fEqlPBd5XdQ=w1085-h658-no?authuser=0"); */
 /* background-blend-mode:normal; */
 /* background:black; */
height: 70vh;
 

 
}

/* .flex-container div {
  background-color: rgba(0, 0, 0, 0.5);
    margin: 30px;
    padding: 25px;
    justify-content:top;
    height:0%;
    width:0%;
    top: 100vh;  
    cursor: pointer;
    transition: all ease 0.2s;
    border: 0.5px solid rgb(94, 66, 43);
   
    vertical-align: middle;
    text-align :center;
    font-size: 50px;

    
   
} */

/* .flex-item:hover {
  transform: translateY(-5px);

  border: 1px solid rgba(167, 146, 129, 1);
  color:rgba(167, 146, 129, 1);
 
  
  } */

  @import url(https://fonts.googleapis.com/css?family=Lato);
  @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
  body {
      font-family: 'Lato', sans-serif;
      color: #FFF;
      background: #322f30;
      -webkit-font-smoothing: antialiased;
  }
  a {
      text-decoration: none;
      color: #fff;
  }
  p > a:hover{
      color: #d9d9d9;
      text-decoration:  underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin:  1% 0 1% 0;
  }
  ._12 {
      font-size: 1.2em;
  }
  ._14 {
      font-size: 1.4em;
  }
  ul {
      padding:0;
      list-style: none;
  }
  .footer-social-icons {
      width: 150px;
      height: 150px;
      display:block;
      margin: 12vh;
      top:40vh;
      cursor: pointer;
      justify-content:center;
      
  }
  .social-icon {
      color: #fff;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
      height: 150px;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }

  .fa-twitter {
      padding:12px 16px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-twitter:hover {
      background-color: #00aced;
  }

  .fa-linkedin {
      padding:12px 16px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-linkedin:hover {
      background-color: #3b559d;
  }
  .fa-github {
      padding:12px 16px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-github:hover {
      background-color: #aeb7b3;
  }

  hr {
    width: 75%;
    
    margin-left: auto;
    margin-right: auto;
  }

.skills{
  background:rgb(129, 126, 127);
  
  width: 310vh;
  height:100vh;
  right: 0;
  padding: 5vh;
  margin: 0;
  top:100vh;
  right:0px;
  left: 0;
  bottom:7.5vh;
  position: absolute;
  display: flex;
  flex-direction:row;
  justify-content:left;
  align-items: top;
  align-content: top;
  flex-wrap: wrap;
 background-repeat: no-repeat;
 background-size:contain;  
 height: 40vh;

}

h5{
  color: rgba(9, 9, 9, 0.875);
  word-spacing: 50px;
  text-align:justify;
  font-size: 20px;
  padding: 40px;
  margin-left: 290px;
}
h7{
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 42px;
  letter-spacing: 2px;
  line-height:40px;
  width: 50px;
}
.verticalLine {
  border-left: 2px solid #ffffff;
  margin:11vh;
  margin-top: 1px;
  width: 100vw;
  padding: 5vh;
  justify-content:center;
  
}

h8{
  width: 50vw;
  height: 2vh;
  justify-content:left;
  right:150px;
  position: absolute;
}
h9{
  width: 50vw;
  height: 2vh;
  justify-content:right;
 
  left:690px ;
  /* left: 690px; */
  position:static;
}